name: Tests and coverage

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repo
        uses:
          actions/checkout@v4
          # Disabling shallow clones is recommended for improving the relevancy of sonar reporting
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Install dependencies and verify tidy
        run: make install && git diff --exit-code

      - name: Verify dependencies
        run: make verify

      - name: Format code
        run: make fmt && git diff --exit-code

      # We use golangci-lint-action instead of "make lint" because it runs faster in CI.
      # "make lint" requires installing golangci-lint manually, which is slow and unnecessary in this context.
      - name: Run linter
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          args: --timeout=5m

      - name: Run tests with coverage
        run: make test ARGS="-v -cover -covermode=set -coverprofile=cover.out"

      - name: Upload coverage to SonarCloud
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        # No need to run SonarCloud analysis if dependabot update or token not defined
        if: env.SONAR_TOKEN != '' && (github.actor != 'renovate[bot]')
        uses: SonarSource/sonarqube-scan-action@v5.0.0
